// Colores

$darkblue: #264065;
$text-parrafo: #909090;
$text-descrip: #070d15;
$background: #a9d6cb;
$background1: #ffffff80;

// fonts
$primari-font: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;
