// 1. Abstracts
@use "./abstracts/variables";
@use "./abstracts/placeholders";
@use "./abstracts/mixins";
@use "./abstracts/functions";

// 2. Base
@use "./base/animations";
@use "./base/reset";
@use "./base/typography";

// 3. Components
@use "./components/buttons";

// 4. Layout
@use "./layout/navbar";
@use "./layout/hero";
@use "./layout/grid";
@use "./layout/forms";
@use "./layout/footer";

// 5. Pages
@use "./pages/home";

// 6. Themes
@use "./themes/default";

// 7. Vendors
@use "./vendors/vendors";

@use "settings";
