@use "../abstracts/variables" as var;

.container {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  background-image: url(../../src/img/beauty-woman-skin-care-beautiful-female-hand-touch-8B5MWG9\ 1.png);
  background-repeat: no-repeat;
  background-position: top 50px right 100px;
}

.bac {
  position: absolute;
  background-color: var.$background;
  width: 635px;
  height: 770px;
  top: 7px;
  right: 11px;
  z-index: -1;

  & img {
    position: relative;
    opacity: 0.1;
    top: 94px;
    right: 86px;
  }
}
