@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.hero {
  display: flex;
  max-width: 60%;
  margin-bottom: 40px;

  & h1 {
    width: 1000px;
    font-family: var.$primari-font;
    font-size: 75px;
    line-height: 80px;
    font-weight: bold;
    color: var.$darkblue;
    margin-bottom: 40px;
  }

  & p {
    font-family: var.$primari-font;
    color: var.$text-parrafo;
    font-size: 24px;
    line-height: 40px;
    width: 800px;
    margin-bottom: 40px;
  }
}
.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 400px;
  margin-bottom: 40px;

  & img {
    background-color: whitesmoke;
    padding: 18px 18px;
    border-radius: 50px;
  }

  & .button {
    @include mix.btn();
  }

  & a {
    text-decoration: none;
    font-family: var.$primari-font;
    font-size: 18px;
    color: var.$darkblue;
  }
}

.description {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & img {
    width: 72px;
    height: 72px;
    background-color: var.$background;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  & h2 {
    font-family: var.$primari-font;
    color: var.$darkblue;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  & p {
    font-family: var.$primari-font;
    color: var.$text-parrafo;
    font-size: 18px;
    font-weight: 400;
  }
}

.variety {
  position: relative;
  display: flex;

  & .desc {
    position: absolute;
    width: 400px;
    height: 200px;
    top: -457px;
    right: 65px;
    background-color: var.$background1;
    border-radius: 10px;
    padding: 15px;

    & p {
      font-family: var.$primari-font;
      font-size: 18px;
      font-weight: 400;
      color: var.$text-descrip;
    }
    & span {
      color: var.$darkblue;
      font-family: var.$primari-font;
      font-size: 18px;
      font-weight: 500;
    }
  }

  & .desc1 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: -210px;
    right: 210px;
    background-color: var.$background1;
    border-radius: 10px;
    padding: 15px;

    & p {
      font-family: var.$primari-font;
      font-size: 18px;
      font-weight: 400;
      color: var.$text-descrip;
    }
    & span {
      color: var.$darkblue;
      font-family: var.$primari-font;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
